*{

    padding: 0;
    margin: 0;
}

body{
    background: black;
}

.a{

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    
}

input{
    width: 150px;
    height: 50px;
}

.aman{
    background: coral;
}

div h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    color: wheat;
}

p{
    color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
